<style>
    th {
        vertical-align: center;
        text-align: center;
    }
    a:hover {
        cursor: pointer;
        text-decoration: none;
    }
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Bank
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Bank</li>
    </ol>
</section>

<!-- Main content -->
<section class="content" >
    <div class="row">
        <div class="col-xs-12">
            <center>
                <div class="alert {{styleAlert}} alert-dismissible" role="alert" ng-show="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <strong>Success!</strong> {{textAlert}}
                </div>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <form name="formBank">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">Input Data Bank</span>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div 
                                class="form-group" 
                                ng-class="{
									'has-error':formBank.kodeBank.$invalid, 
									'has-success':formBank.kodeBank.$valid
								}">
                                <div class="col-sm-5">
                                    <label for="kodebank" class="control-label">Kode Bank</label>
                                </div>
                                <div class="col-sm-7">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="kodeBank" 
                                        name="kodeBank"
                                        ng-model="currentBank.kodeBank"
                                        required />
                                    <span 
                                        style="float:right; color:white" 
                                        class="help-block label label-danger" 
                                        ng-show="formBank.kodeBank.$error.required">
                                        This Field is Required
                                    </span>
                                    <span 
                                        style="float:right; color:white" 
                                        class="help-block label label-danger" 
                                        ng-show="validateCode">
                                        Code already exist
                                    </span>
                                </div>
                            </div>
                            <div 
                                class="form-group" 
                                ng-class="{
									'has-error':formBank.namaBank.$invalid, 
									'has-success':formBank.namaBank.$valid
								}">
                                <div class="col-sm-5">
                                    <label for="namaBank" class="control-label">Nama Bank</label>
                                </div>
                                <div class="col-sm-7">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="namaBank" 
                                        name="namaBank"
                                        ng-model="currentBank.namaBank"
                                        required />
                                    <span 
                                        style="float:right; color:white" 
                                        class="help-block label label-danger" 
                                        ng-show="formBank.namaBank.$error.required">
                                        This Field is Required
                                    </span>
                                </div>
                            </div>
              
                             <div 
                                class="form-group" 
                                ng-class="{
                                    'has-error':formBank.noRekening.$invalid, 
                                    'has-success':formBank.noRekening.$valid
                                }">
                                <div class="col-sm-5">
                                    <label for="gajipokok" class="control-label">No Rekening</label>
                                </div>
                                <div class="col-sm-7">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="noRekening" 
                                        name="noRekening"
                                        ng-model="currentBank.noRekening"
                                        required />
                                    <span 
                                        style="float:right; color:white" 
                                        class="help-block label label-danger" 
                                        ng-show="formBank.noRekening.$error.required">
                                        This Field is Required
                                    </span>
                                </div>
                            </div>
                                     <div 
                                class="form-group" 
                                ng-class="{
                                    'has-error':formBank.atasNama.$invalid, 
                                    'has-success':formBank.atasNama.$valid
                                }">
                                <div class="col-sm-5">
                                    <label for="atasNama" class="control-label">Atas Nama</label>
                                </div>
                                <div class="col-sm-7">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="atasNama" 
                                        name="atasNama"
                                        ng-model="currentBank.atasNama"
                                        required />
                                    <span 
                                        style="float:right; color:white" 
                                        class="help-block label label-danger" 
                                        ng-show="formBank.atasNama.$error.required">
                                        This Field is Required
                                    </span>
                                </div>
                            </div>
                            <div align="right">
                                <button 
                                    class="btn btn-primary" 
                                    ng-click="save()" 
                                    ng-disabled="isClean() || formBank.$invalid">
                                    Save
                                </button>
                                <button 
                                    class="btn btn-default" 
                                    ng-click="clear()">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-7">
            <div class="box">
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                   Kode Bank
                                </th>
                                <th>
                                    Nama Bank
                                </th>
                                <th>
                                    No Rekening
                                </th>
                                <th>
                                    Atas Nama
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in banks">
                                <td>{{x.kodeBank}}</td>
                                <td>{{x.namaBank}}</td>
                                <td>{{x.noRekening}}</td>
                                <td>{{x.atasNama}}</td>
                                <td class="col-xs-1">
                                    <a class="glyphicon glyphicon-pencil" ng-click="edit(x)"></a>
                                    <a class="glyphicon glyphicon-remove" ng-click="showModalDelete(x)"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div align="center">
                        <pagination 
                            total-items="elements" 
                            ng-model="currentPage"
                            ng-change="reloadVoucher()"
                            class="pagination-sm"
                            items-per-page="10"
                            max-size="10"
                            boundary-links="true"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            first-text="&laquo;"
                            last-text="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Delete -->
<div class="modal fade" tabindex="-1" id="modalDelete" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete {{selected.merchantName}}</h4>
      </div>
      <div class="modal-body">
        Are you sure ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" ng-click="remove()">Yes</button>
      </div>
    </div>
  </div>
</div>