<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
        History Transaksi
        <small>Control panel</small>
     </h1>
     <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">History Transaksi</li>
     </ol>
</section>

<!-- Main content -->
<section class="content" >
        <form name="formHistoryTransaksi">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Select Customer
                </div>
                <div class="panel-body">
                    <div ng-class="{'has-error':formHistoryTransaksi.selectedCustomer.$invalid, 'has-success':formHistoryTransaksi.selectedCustomer.$valid}">
                        <select class="form-control" name="selectedCustomer" ng-model="currentHistoryTransaksi.customer.id">
                            <option ng-repeat="x in customers" value="{{x.id}}" >
                                {{x.name}}
                            </option>
                        </select>
                        <span style="float:right; color:white" class="help-block label label-danger" ng-show="formReport.selectedProduct.$error.required">This Field is Required</span>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Transaction Periode
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="col-sm-4">
                            <label for="startDate" class="control-label">Start Date</label>
                        </div>
                        <div class="col-sm-8">
                            <p class="input-group">
                                <input type="text" 
                                       class="form-control" 
                                       ng-model="currentReport.startDate"
                                       datepicker-popup="dd MMMM yyyy" 
                                       is-open="openedStartDate" 
                                       close-text="Close" 
                                       required/>
                                <span class="input-group-btn">
                                    <button 
                                        class="btn btn-default" 
                                        ng-click="openStartDate($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <label for="endDate" class="control-label">End Date</label>
                        </div>
                        <div class="col-sm-8">
                            <p class="input-group">
                                <input type="text" 
                                       class="form-control" 
                                       datepicker-popup="dd MMMM yyyy"
                                       ng-model="currentReport.endDate" 
                                       is-open="openedEndDate" 
                                       close-text="Close"
                                       required/>
                                <span class="input-group-btn">
                                    <button 
                                        class="btn btn-default" 
                                        ng-click="openEndDate($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
				<div class="panel-footer" align="right" >
					<div style="margin-right:15px;">
						<button class="btn btn-primary" ng-click="showReport()" ng-disabled="isClean() || formHistoryTransaksi.$invalid">Show</button>
                        <button class="btn btn-default" ng-click="clear()">Cancel</button>
					</div>
				</div>
            </div>
        </form>
    <div class="box">
		<div class="box-body">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Customer</th>
						<th>Trans Time</th>
						<th>Debet</th>
						<th>Credit</th>
						<th class="col-xs-1">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat = "x in historys">
						<td>{{x.customer.name}}</td>
						<td>{{x.transactionTime| date: 'yyyy-MM-dd HH:mm:ss'}}</td>
						<td>{{x.balanceType=='DEBET' &&  x.totalAmount || '0'}}</td>
						<td>{{x.balanceType=='CREDIT' &&  x.totalAmount || '0'}}</td>
						<td class="col-xs-1" align="center">
							<a class="glyphicon glyphicon-list" style="cursor:pointer" alt="detail" title="detail" ng-click="showTransactionDetail(x)"></a>
						</td>
					</tr>
				</tbody> 
        </table>
    </div>
	<div class="box-footer clearfix">
        <div align="center">
            <pagination 
                total-items="elements" 
                ng-model="currentPage"
                ng-change="showReport()"
                class="pagination-sm"
                items-per-page="10"
                max-size="10"
                boundary-links="true"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
            </pagination>
        </div>
        </div>
    </div>
</section>
