<style>
    th {
        vertical-align: center;
        text-align: center;
    }
    a:hover {
        cursor: pointer;
        text-decoration: none;
    }
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Topup
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Topup</li>
    </ol>
</section>

<!-- Main content -->
<section class="content" >
    <div class="row">
        <div class="col-xs-5">
            <form name="formTopup">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Customer</h3>
                    </div>
                    <div class="panel-body">
						<div class="form-horizontal">
							<div class="form-group" 
								ng-class="{
								'has-error':formTopup.customer.$invalid, 
								'has-success':formTopup.customer.$valid}">
								<div class="col-sm-12">
									<select 
										class="form-control" 
										ng-model="currentTopup.customer.id" 
										name="customer" 
										required>
										<option ng-repeat="x in customers" value="{{x.id}}">{{x.name}}</option>
									</select>
									<span 
										style="float:right; color:white" 
										class="help-block label label-danger" 
										ng-show="formTopup.customer.$error.required">
										This Field is Required
									</span>
								</div>
							</div>
						</div>
                    </div>
                </div>
                <br />
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Topup</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div 
                                class="form-group" 
                                ng-class ="{
								'has-error':formTopup.transactionTime.$invalid, 
								'has-success':formTopup.transactionTime.$valid
								}">
                                <div class="col-sm-4">
                                    <label for="transactionTime" class="control-label">Transaction Time</label>
                                </div>
                                <div class="col-sm-8">
                                    <p class="input-group">
                                        <input 
                                            class="form-control" 
                                            type="text" 
                                            name="transactionTime"
                                            ng-model="currentTopup.transactionTime"
                                            datepicker-popup="dd MMMM yyyy" 
                                            is-open="openedTransactionTime" 
                                            close-text="Close"
                                            required />
                                        <span class="input-group-btn">
                                            <button 
                                                class="btn btn-default" 
                                                ng-click="openTransactionTime($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                    <span 
                                        style="float:right; color:white" 
                                        class="help-block label label-danger" 
                                        ng-show="formTopup.transactionTime.$error.required">
                                        This Field is Required
                                    </span>
                                </div>
                            </div>
                            <div 
                                class="form-group" 
                                ng-class="{
								'has-error':formTopup.userEntry.$invalid, 
								'has-success':formTopup.userEntry.$valid
							}">
                                <div class="col-sm-4">
                                    <label for="userEntry" class="control-label">User Entry</label>
                                </div>
                                <div class="col-sm-8">
                                    <input 
                                        class="form-control" 
                                        type="text" 
                                        ng-model="currentTopup.userEntry" 
                                        name="userEntry" 
                                        id="userEntry" 
                                        required />
                                    <span 
                                        style="float:right; color:white" 
                                        class="help-block label label-danger" 
                                        ng-show="formTopup.userEntry.$error.required">
                                        This Field is Required
                                    </span>
                                </div>
                            </div>
                            <div 
                                class="form-group" 
                                ng-class="{
								'has-error':formTopup.amount.$invalid, 
								'has-success':formTopup.amount.$valid
							}">
                                <div class="col-sm-4">
                                    <label for="amount" class="control-label">Amount</label>
                                </div>
                                <div class="col-sm-8">
                                    <input 
                                        class="form-control" 
                                        type="text" 
                                        ng-model="currentTopup.amount" 
                                        name="amount" 
                                        id="amount" 
                                        required 
                                        ng-pattern = "onlyNumbers" />
                                    <span 
                                        style="float:right; color:white" 
                                        class="help-block label label-danger" 
                                        ng-show="formTopup.amount.$error.required">
                                        This Field is Required
                                    </span>
                                    <span 
                                        style="float:right; color:white" 
                                        class="help-block label label-danger" 
                                        ng-show="formTopup.amount.$error.pattern">
                                        Invalid Number
                                    </span>
                                </div>
                            </div>
                            <div 
                                class="form-group" 
                                ng-class="{
								'has-error':formTopup.bankName.$invalid, 
								'has-success':formTopup.bankName.$valid
							}">
                                <div class="col-sm-4">
                                    <label for="bankName" class="control-label">Bank Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input 
                                        class="form-control" 
                                        type="text" 
                                        ng-model="currentTopup.bankName" 
                                        name="bankName" 
                                        id="bankName" />
                                    <span 
                                        style="float:right; color:white" 
                                        class="help-block label label-danger" 
                                        ng-show="formTopup.bankName.$error.required">
                                        This Field is Required
                                    </span>
                                </div>
                            </div>
                            <div 
                                class="form-group" 
                                ng-class="{
								'has-error':formTopup.bankAccountNumber.$invalid, 
								'has-success':formTopup.bankAccountNumber.$valid
							}">
                                <div class="col-sm-4">
                                    <label for="bankAccountNumber" class="control-label">Account Number</label>
                                </div>
                                <div class="col-sm-8">
                                    <input 
                                        class="form-control" 
                                        type="text" 
                                        ng-model="currentTopup.bankAccountNumber" 
                                        name="bankAccountNumber" 
                                        id="bankAccountNumber" />
                                    <span 
                                        style="float:right; color:white" 
                                        class="help-block label label-danger" 
                                        ng-show="formTopup.bankAccountNumber.$error.required">
                                        This Field is Required
                                    </span>
                                </div>
                            </div>
                            <div 
                                class="form-group" 
                                ng-class="{
								'has-error':formTopup.bankAccountName.$invalid, 
								'has-success':formTopup.bankAccountName.$valid
							}">
                                <div class="col-sm-4">
                                    <label for="bankAccountName" class="control-label">Account Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input 
                                        class="form-control" 
                                        type="text" 
                                        ng-model="currentTopup.bankAccountName" 
                                        name="bankAccountName" 
                                        id="bankAccountName" />
                                    <span 
                                        style="float:right; color:white" 
                                        class="help-block label label-danger" 
                                        ng-show="formTopup.bankAccountName.$error.required">
                                        This Field is Required
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div align="right">
                            <button 
                                class="btn btn-default" 
                                ng-click="clear()">
                                Cancel
                            </button>
                            <button 
                                class="btn btn-primary" 
                                ng-disabled="formTopup.$invalid" 
                                ng-click="save()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-7">
            <div class="box">
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Transaction Time</th>
                                <th>Customer Name</th>
                                <th>Amount</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in topups">
                                <td>{{x.transactionTime| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>{{x.customer.name}}</td>
                                <td>{{x.amount}}</td>
                                <td>{{x.paymentStatus}}</td>
                                <td class="col-xs-1" align="center">
                                    <a class="glyphicon glyphicon-list" alt="detail" title="detail" ng-click="showApprovalDeposite(x)"></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div align="center">
                        <pagination 
                            total-items="elements" 
                            ng-model="currentPage"
                            ng-change="reloadTopup()"
                            class="pagination-sm"
                            items-per-page="10"
                            max-size="10"
                            boundary-links="true"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            first-text="&laquo;"
                            last-text="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="approvalDeposite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close"data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Approval Customer Deposite</h4>
            </div>

            <form name="formApprovalDeposite" id="formApprovalDeposite" >
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label for="bankName" class="control-label">Bank Name</label>
                            </div>
                            <div class="col-sm-8">
                                <span>{{currentApprovalDeposite.bankName}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label for="accountName" class="control-label">Account Name</label>
                            </div>
                            <div class="col-sm-8">
                                <span>{{currentApprovalDeposite.bankAccountName}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label for="accountNumber" class="control-label">Account Number</label>
                            </div>
                            <div class="col-sm-8">
                                <span>{{currentApprovalDeposite.bankAccountNumber}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label for="uniqueNumber" class="control-label">Unique Number</label>
                            </div>
                            <div class="col-sm-8">
                                <span>{{currentApprovalDeposite.uniqueNumber}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label for="amount" class="control-label">Amount</label>
                            </div>
                            <div class="col-sm-8">
                                <span>{{currentApprovalDeposite.amount}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label for="transactionTime" class="control-label">Transaction Time</label>
                            </div>
                            <div class="col-sm-8">
                                <span>{{currentApprovalDeposite.transactionTime| date:'yyyy-MM-dd HH:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" ng-show="currentApprovalDeposite.paymentStatus == 'PENDING'">
                    <div align="right">
                        <button class="btn btn-primary" ng-disabled="" ng-click ="processApprovalTransaction()">Approve</button>
                        <button class="btn btn-danger" ng-disabled="" ng-click ="">Reject</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </form> 
        </div>
    </div>
</div>
<!-- Prevent character in amount textfield -->
<script>
            $(document).ready(function() {
    $("#amount").keydown(function (e) {
    // Allow: backspace, delete, tab, escape, enter and .
    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== - 1 ||
            // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                    // Allow: home, end, left, right
                            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
            }
            });
    });
</script>
