 <div class="row">
     <div class="col-xs-5">
         <div class="panel panel-default">
             <div class="panel-heading">
                 Search User
             </div>
             <div class="panel-body">
                 <div class="form-horizontal">
                         <div class="form-group">
                            <div class="col-sm-4">
                                <label for="username" class="control-label">Username</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="username" placeholder="Username" ng-model="currentUser.username">
                            </div>    
                        </div>
                         <div align="right">
                            <button class="btn btn-primary" ng-click="findByUsername()" ng-disabled="isClean() || formUser.$invalid">Search</button>
                        </div>
                        
                 </div>
             </div>
         </div>
     </div>

     
<div class="col-xs-7">
        <table class="table table-border table-hover">
            <thead>
                <th>Username</th>
                 <th>Password</th>
                <th>Role</th>
                <th class="col-xs-1">
                    <button type="button" class="btn-right btn btn-default btn-sm btn-block">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </button> 
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="x in users">
                    <td>{{x.username}}</td>
                      <td>{{x.password}}</td>
                    <td>{{x.role.name}}</td>
                     <td class="col-xs-1">
                        <a class="glyphicon glyphicon-edit" ng-click="edit(x)"></a>
                        <a class="glyphicon glyphicon-remove" ng-click="showDialogDelete(x)"></a>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>

 </div>
